 /** folha de estilo do site proteja petz
 @author Camila Yukari Jodai
 */
 
 /* CSS RESET */
 * {
    margin: 0;
    padding: 0;
    border: 0;
 }

 @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Nunito", sans-serif;
    font-size: 1em;
}


 /* smartphone portrait */

 /* smartphone landscape */
@media (min-width:576px) {
   
}
 /* tablet portrait */
 @media (min-width:768px) {
    
}
 /* tablet landscape */
 @media (min-width:992px) {
   
}
 /* PCs ou notebooks ruim */
 @media (min-width: 1200px) {
    
}
  /* PCs ou notebooks full hd + */
  @media (min-width: 1400px) {
    
}