 /** folha de estilo do site proteja petz
 @author Camila Yukari Jodai
 */

 /* CSS RESET */
 @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

 :root {
   --lightpink: #EDD1E0;
   --pretolayout: #000000;
   --backgroundcard: #f8f8f8;
   --border: #a1a1a1;
   --cinzatexto: #434343;
 }

 * {
   margin: 0;
   padding: 0;
   border: 0;
 }


 /* layout */
 html {
   scroll-behavior: smooth;
 }

 body {
   font-family: "Nunito", sans-serif;
   font-size: 1em;
 }

 .Container {
   margin: 0 auto;
   padding: 20px 15px 20px 15px;
 }

 .Flex {
   flex-direction: column;
 }

 .Flex, .FlexMenu {
  display: flex;
  justify-content: space-between;
}

.Card {
  margin-top: 50px;
  width: 338px;
  height: 520px;
  background-color: var(--backgroundcard);
  border: 1px solid var(--border);
  border-radius: 25px;
  text-align: center;
}

.Card img {
  border-radius: 25px 25px 0px 0px;
}

.Card h3{
  margin: 15px 30px 0px 30px;
  color: var(--pretolayout);
  font-size: 1.3em;
}

.Card p{
  padding: 10px 15px 30px 15px;
  text-align: justify;
  color: var(--cinzatexto);
  font-size: 1.1em;
}

.Button {
  text-decoration: none;
  background-color: var(--lightpink);
  color: var(--pretolayout);
  padding: 10px 40px 10px 40px;
  border-radius: 20px;
  font-size: 1.2em;
  font-weight: 700;
}

/*topo*/
#topo{
  position: fixed;
  right: 10px;
  bottom: 10px;
}
 /* smartphone portrait */
/*cabeçalho*/
 header {
  height:85px;
 }

 #logo img {
   width: 200px;
   height: 70px;
   margin-top: 10px;
   margin-left: 5px;
 }

 #check{
  display: none;
 }

 label{
  font-size: 3em;
  font-weight: 600;
  position: fixed;
  top: 10px;
  right: 10px;
 }

 nav ul{
  list-style: none;
  background-color: rgba(237, 209, 224, 0.9);
  height: 100vh;
  position: fixed;
  top: 80px;
  right: -50%;
  width: 50%;
  transition: all 0.5s;
 }

 #check:checked~ul {
  right: 0;
 }

 nav ul li{
  border-bottom: 0.5px solid var(--border);
  text-align: right;
  padding: 8px;
 }

 nav ul li a{
  color: var(--pretolayout);
  text-decoration: none;
  font-size: 1.3em;
 }
 /* footer */
 footer {
   background-color: var(--lightpink);
   color: var(--pretolayout);
   text-align: center;
   font-size: medium;
 }

 #social {
   margin-bottom: 25px;
 }

 
 /* smartphone landscape */
 @media (min-width:576px) {
 
  
   .Container {
     max-width: 540px;
   }
 /* cabeçalho */
   header {
    max-width: 576px;
    margin: 0 auto;
   }
  
  #social {
    margin: 0px;
  }
 }

 /* tablet portrait */
 @media (min-width:768px) {
   .Container {
     max-width: 720px;

   }
     /* cabeçalho */
  header {
    max-width: 720px;
    margin: 0 auto;
    height: 120px;
   
   }

   #logo img {
    width: 280px;
    height: 105px;
    margin-top: 20px;
    margin-left: 5px;
  }

  nav ul{
    list-style: none;
    background-color: rgba(237, 209, 224, 0.9);
    height: 100vh;
    position: fixed;
    top: 120px;
    right: -50%;
    width: 50%;
    transition: all 0.5s;
   }

   nav ul li a{
    color: var(--pretolayout);
    text-decoration: none;
    font-size: 2em;
   }

   nav ul li{
    border-bottom: 0.5px solid var(--border);
    text-align: right;
    padding: 8px;
   }

 }



 /* tablet landscape */
 @media (min-width:992px) {
   .Container {
     max-width: 960px;
   }
   header {
    max-width: 992px;
    margin: 0 auto;
    height: 120px;
   
   }

   
 }

 /* PCs ou notebooks pessimo */
 @media (min-width: 1200px) {
   .Container {
     max-width: 1140px;
   }
   header {
    max-width: 1140px;
    margin: 0 auto;
   }
 
    label{
      display: none;
    }

    nav ul{
      width: 100%;
      position: static;
      height: auto;
      background-color: #ffffff;
      margin-top: 50px;
    }
  
    nav ul li{
      border: 0;
      float: left;
    }

    nav ul li a {
      color: var(--pretolayout);
      font-size: 1.4em;
    }

    nav ul li a:hover{
      color: darkred;
    }

    .Flex {
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
    }
    #logo img {
      margin-top: 20px;
      margin-left: 5px;
    }
 }

 /* PCs ou notebooks full hd + */
 @media (min-width: 1400px) {
   .Container {
     max-width: 1360px;

   }
   header {
    max-width: 1360px;
    margin: 0 auto;
   }

  
 }